{% extends "main.j2" %}
{% block content %}


<h1>BirdsList</h1>

{#
#################################
########## Read Table ###########
#################################
#}
<table>
    <thead>
        {# The DB attribute names will be printed for the header row #}
        <tr>
            {% for key in birdslists[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for birdlist in birdslists %}
        <tr>
            <td>{{ birdlist.birderName }}</td>
            <td>{{ birdlist.commonName }}</td>
            <td>{{ birdlist.count }}</td>

            {#
            ##################################
            ########## Delete Form ###########
            ##################################
            #}
            <form id = "delete_birdlist_form"> 
                <input type = "hidden" name = "delete_birdlist_birder_name" value = "{{ birdlist.birderName }}">
                <input type = "hidden" name = "delete_birdlist_bird_name" value = "{{ birdlist.commonName }}">
                <td>
                    <button type = "submit">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>




{#
##################################
########## Create Form ###########
##################################
#}
<h2> Add a BirdList </h2>
<form class = "cuForm" id = "create_birdlist_form" action="/Avidex/birds-list" method="post">
    <label for="create_birdlist_birder">Birder: </label>
    <select name = "create_birdlist_birder" id = "create_birdlist_birder" required>
        <option value = "" disabled selected>Select Birder: </option>
        {% for birder in birders %}
        <option value = "{{ birder['birderID'] }}" required>
            {{ birder['birderID'] }}
            •
            {{ birder['birderName'] }}
        </option>
        {% endfor %}
    </select>

    <label for = "create_birdlist_bird">Bird: </label>
    <select name = "create_birdlist_bird" id = "create_birdlist_bird" required>
        <option value = "" disabled selected>Select Bird: </option>
        {% for bird in birds %}
        <option value = "{{ bird['birdID'] }}" required>
            {{ bird['birdID'] }}
            •
            {{ bird['commonName'] }}
        </option>
        {% endfor %}
    </select>

    <label for = "create_birdlist_count">Count: </label>
    <input type = "number" name = "create_birdlist_count" id = "create_birdlist_count" min = "0" value = "0" required>

    <input type = "submit">
</form>




{# 
##################################
########## Update Form ###########
##################################
#}
<h2>Update a BirdList</h2>
<form class = "cuForm" id = "update_birdlist_form">
    <label for="update_birdlist_birder">Birder: </label>
    <select name = "update_birdlist_birder" id = "update_birdlist_birder" required>
        <option value = "" disabled selected>Select Birder: </option>
        {% for birder in birders %}
        <option value = "{{ birder['birderID'] }}" required>
            {{ birder['birderID'] }}
            •
            {{ birder['birderName'] }}
        </option>
        {% endfor %}
    </select>

    <label for = "update_birdlist_bird">Birder: </label>
    <select name = "update_birdlist_bird" id = "update_birdlist_bird" required>
        <option value = "" disabled selected>Select Bird: </option>
        {% for bird in birds %}
        <option value = "{{ bird['birdID'] }} required">
            {{ bird['birdID'] }}
            •
            {{ bird['commonName'] }}
        </option>
        {% endfor %}
    </select>

    <label for = "update_birdlist_count">Count: </label>
    <input type = "text" name = "update_birdlist_count" id = "update_birdlist_count" min = "0" value = "0">

    <input type = "submit">
</form>
{% endblock %}