{% extends "main.j2" %}
{% block content %}


<h1>All Birds</h1>





{#
#################################
########## Read Table ###########
#################################
#}
<table>
    <thead>
        {# The DB attribute names will be printed for the header row #}
        <tr>
            {% if birds|length > 0 %}
                {% for key in birds[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
            {% else %}
                <th>birdID</th>
                <th>rarityID</th>
                <th>commonName</th>
                <th>species</th>
                <th>wingspan</th>
                <th>size</th>
                <th>identifyingMarks</th>
                <th>range</th>
                <th>description</th>
                <th>matingSeason</th>
            {% endif %}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {# printing birdID, commonName, species, rarityID, and description for each row #}
        {% for bird in birds %}
        <tr>
            <td>{{ bird.birdID }}</td>
            <td>{{ bird.rarityID }}</td>
            <td>{{ bird.commonName }}</td>
            <td>{{ bird.species }}</td>
            <td>{{ bird.wingspan }}</td>
            <td>{{ bird.size }}</td>
            <td>{{ bird.identifyingMarks }}</td>
            <td>{{ bird.range }}</td>
            <td>{{ bird.description }}</td>
            <td>{{ bird.matingSeason }}</td>




            {#

            To be worked on later

            ##################################
            ########## Update Form ###########
            ##################################
   
            <form id = "update_bird_form_reach">
                <input type = "hidden" name = "update_bird_id" value = "{{ bird.birdID }}">
                <input type = "hidden" name = "update_bird_name" value = "{{ bird.commonName }}">

            </form>
            #}
            {#
            ##################################
            ########## Delete Form ###########
            ##################################
            #}
            <form id = "delete_bird_form" action="/Avidex/birds/delete" method="post"> 
                <input type = "hidden" name = "delete_bird_id" value = "{{ bird.birdID }}">
                <input type = "hidden" name = "delete_bird_common_name" value = "{{ bird.commonName }} ">         
                <td>
                    <button type = "submit">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>




{#
##################################
########## Create Form ###########
##################################
#}
<h2> Add a Bird </h2>
<form class = "cuForm" id = "create_bird_form" action="/Avidex/birds/create" method = "post">
    <div class="form-row"> 
    <label for="create_bird_rarity">Rarity: </label>
    <select name = "create_bird_rarity" id = "create_bird_rarity" required>
        <option value = "" disabled selected>Select a Rarity</option>
        {% for rarity in rarities%}
        <option value = "{{ rarity['rarityID'] }}" required>{{ rarity['rarityID'] }}</option>
        {% endfor %}
    </select>
    </div>
    
    <div class="form-row">
    <label for="create_bird_common_name">Common Name: </label>
    <input type = "text" name = "create_bird_common_name" id = "create_bird_common_name" required>
    </div>

    <div class="form-row">
    <label for = "create_bird_species">Species: </label>
    <input type="text" name = "create_bird_species" id="create_bird_species" required>
    </div>

    <div class="form-row">
    <label for = "create_bird_wingspan">Wingspan: </label>
    <input type="text" name = "create_bird_wingspan" id="create_bird_wingspan required">
    </div>

    <div class="form-row">
    <label for = "create_bird_size">Size: </label>
    <input type="text" name = "create_bird_size" id="create_bird_size" required>
    </div>

    <div class="form-row">
    <label for = "create_bird_identifying_marks">Identifying Marks: </label>
    <input type="text" name = "create_bird_identifying_marks" id="create_bird_identifying_marks" required>
    </div>

    <div class="form-row">
    <label for = "create_bird_range">Range: </label>
    <input type="text" name = "create_bird_range" id="create_bird_range" required>
    </div>

    <div class="form-row">
    <label for = "create_bird_description">Description: </label>
    <input type="text" name = "create_bird_description" id="create_bird_description" required>
    </div>

    <div class="form-row">
    <label for = "create_bird_mating_season">Mating Season: </label>
    <input type="text" name = "create_bird_mating_season" id="create_bird_mating_season" required>
    </div>

    <button type = "submit">Add Bird</button>
</form>




{# 
##################################
########## Update Form ###########
##################################
#}
<h2>Update a Bird</h2>
<form class = "cuForm" id = "update_bird_form" action="/Avidex/birds/update" method="post">
    <div class="form-row"> 
    <label for = "update_bird_id">Bird to Update: </label>
    <select name = "update_bird_id" id="update_bird_id" required>
        <option value = "" disabled selected>Select a Bird</option>
        {% for bird in birds %}
        <option value = "{{ bird['birdID'] }}" required>
            {{ bird['birdID'] }}
            •
            {{ bird['commonName'] }}
        </option>
        {% endfor %}
    </select>
    </div>

    <div class="form-row"> 
    <label for="update_bird_rarity">Rarity: </label>
    <select name = "update_bird_rarity" id = "update_bird_rarity" required>
        <option value = "" disabled selected>Select a Rarity</option>
        {% for rarity in rarities%}
        <option value = "{{ rarity['rarityID'] }}" required>{{ rarity['rarityID'] }}</option>
        {% endfor %}
    </select>
    </div>

    <div class="form-row"> 
    <label for = "update_bird_common_name" >Common Name: </label>
    <input type = "text" name = "update_bird_common_name" id = "update_bird_common_name" required>
    </div>

    <div class="form-row"> 
    <label for = "update_bird_species" >Species: </label>
    <input type = "text" name = "update_bird_species" id = "update_bird_species" required>
    </div>

    <div class="form-row"> 
    <label for = "update_bird_call_url" >Calls Url: </label>
    <input type = "text" name = "update_bird_call_url" id = "update_bird_call_url">
    </div>

    <div class="form-row"> 
    <label for = "update_bird_wingpsan" >Wingspan: </label>
    <input type = "text" name = "update_bird_wingpsan" id = "update_bird_wingpsan" required>
    </div>

    <div class="form-row"> 
    <label for = "update_bird_size" >Size: </label>
    <input type = "text" name = "update_bird_size" id = "update_bird_size" required>
    </div>

    <div class="form-row"> 
    <label for = "update_bird_identifying_marks" >Identifying Marks: </label>
    <input type = "text" name = "update_bird_identifying_marks" id = "update_bird_identifying_marks" required>
    </div>

    <div class="form-row"> 
    <label for = "update_bird_range" >Range: </label>
    <input type = "text" name = "update_bird_range" id = "update_bird_range" required>
    </div>

    <div class="form-row"> 
    <label for = "update_bird_description" >Description: </label>
    <input type = "text" name = "update_bird_description" id = "update_bird_description" required>
    </div>

    <div class="form-row"> 
    <label for = "update_bird_photograph_url" >Photographs Url: </label>
    <input type = "text" name = "update_bird_photograph_url" id = "update_bird_photograph_url" required>
    </div>

    <div class="form-row"> 
    <label for = "update_bird_mating_season" >Mating Season: </label>
    <input type = "text" name = "update_bird_mating_season" id = "update_bird_mating_season" required>
    </div>

    <button type = "submit">Update Bird</button>
</form>

{% endblock %}
