{# 
## Ayush Baruah & Joseph Eidel

-- Citation for the following code:
-- Date: 08/04/26 edited 08/12/26
-- Copied from /OR/ Adapted from /OR/ Based on 
-- Procedures were written with the help of AI
-- Source URL: copilot
-- Prompt: "got it, btw my birdersrewards input on the website doesn't ask for a set of new IDs on the site.
--          I don't think it does on any of the other composite key ones either. Can you help me change that?"
#}

{% extends "main.j2" %}
{% block content %}


<h1>BirdersRewards</h1>

{#
#################################
########## Read Table ###########
#################################
#}
<table>
    <thead>
        {# The DB attribute names will be printed for the header row #}
        <tr>
            {% for key in birdersrewards[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for birderreward in birdersrewards %}
        <tr>
            <td>{{ birderreward.name }}</td>
            <td>{{ birderreward.birderName }}</td>

            {#
            ##################################
            ########## Delete Form ###########
            ##################################
            #}
            <form id = "delete_birderreward_form"> 
                <input type = "hidden" name = "delete_birdierreward_reward_name" value = "{{ birderreward.name }}">
                <input type = "hidden" name = "delete_birderreward_birder_name" value = "{{ birderreward.birderName }}">
                <td>
                    <button type = "submit">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>




{#
##################################
########## Create Form ###########
##################################
#}
<h2> Add a BirderReward </h2>
<form class = "cuForm" id = "create_birderreward_form" action = "/Avidex/birders-rewards" method = "post">
    <label for="create_birderreward_reward_name">Reward: </label>
    <select name = "create_birderreward_reward_name" id = "create_birderreward_reward_name" required>
        <option value = "" disabled selected>Select Reward: </option>
        {% for reward in rewards %}
        <option value = "{{ reward['rewardID'] }}" required>
            {{ reward['rewardID'] }}
            •
            {{ reward['name'] }}
        </option>
        {% endfor %}
    </select>

    <label for = "create_birderreward_birder_name">Birder: </label>
    <select name = "create_birderreward_birder_name" id = "create_birderreward_birder_name" required>
        <option value = "" disabled selected>Select Birder: </option>
        {% for birder in birders %}
        <option value = "{{ birder['birderID'] }} required">
            {{ birder['birderID'] }}
            •
            {{ birder['birderName'] }}
        </option>
        {% endfor %}
    </select>

    <input type = "submit">
</form>




{# 
##################################
########## Update Form ###########
##################################
#}
<h2>Update a BirderReward</h2>
<form class = "cuForm" id = "update_birderreward_form">
    <label for="update_birderreward_old_birder_id">Current Birder: </label>
    <select name = "update_birderreward_old_birder_id" id = "update_birderreward_old_birder_id" required>
        <option value = "" disabled selected>Select current birder: </option>
        {% for birder in birders %}
        <option value = "{{ birder['birderID'] }}">
            {{ birder['birderID'] }}
            •
            {{ birder['birderName'] }}
        </option>
        {% endfor %}
    </select>

    <label for="update_birderreward_old_reward_id">Current Reward: </label>
    <select name = "update_birderreward_old_reward_id" id = "update_birderreward_old_reward_id" required>
        <option value = "" disabled selected>Select current reward: </option>
        {% for reward in rewards %}
        <option value = "{{ reward['rewardID'] }}">
            {{ reward['rewardID'] }}
            •
            {{ reward['name'] }}
        </option>
        {% endfor %}
    </select>

    <label for="update_birderreward_new_birder_id">New Birder: </label>
    <select name = "update_birderreward_new_birder_id" id = "update_birderreward_new_birder_id" required>
        <option value = "" disabled selected>Select new birder: </option>
        {% for birder in birders %}
        <option value = "{{ birder['birderID'] }}">
            {{ birder['birderID'] }}
            •
            {{ birder['birderName'] }}
        </option>
        {% endfor %}
    </select>

    <label for="update_birderreward_new_reward_id">New Reward: </label>
    <select name = "update_birderreward_new_reward_id" id = "update_birderreward_new_reward_id" required>
        <option value = "" disabled selected>Select new reward: </option>
        {% for reward in rewards %}
        <option value = "{{ reward['rewardID'] }}">
            {{ reward['rewardID'] }}
            •
            {{ reward['name'] }}
        </option>
        {% endfor %}
    </select>

    <input type = "submit">
</form>
{% endblock %}