{% extends "main.j2" %}
{% block content %}

<h1>Avidex Home Page</h1>
<div class = "homepageDescription">
    <p>Developed by Ayush Baruah and Joseph Eidel</p>
</div>
<wbr>
<h2>Progress Report for Reviewers</h3>
<div class = "homepageDescription">
    <p>Hey reviewers, currently only adding a Bird in <strong>Avian Compendium</strong> and adding a Birder in <strong>Birders</strong> is implemented.<br>Well, that and the Reset button.</p>
    <wbr>
    <p>Happy Reviewing!</p>
</div>

{% endblock %}