<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title> CS340 - Avidex</title>
    {# 
        AI was used in this portion to change the relative path to solve an issue after changing the serve to be served under rested routes 
        prompts:
            1.) hi, within my app.py and main.j2, I changed the links to become /Avidex/ and /Avidex/birds.
                Why did it break my css to make everything look like a link?
            2.) okay but wait, my table lines are gone too. and all the css for the tables are broken
    #}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>
<body>
    <nav>
        <a href="/Avidex">Home</a>
        <a href="/Avidex/birds">Avian Compendium</a>
        <a href="/Avidex/rarities">Rarities</a>
        <a href="/Avidex/birders">Birders</a>
        <a href="/Avidex/nests">Nests</a>
        <a href="/Avidex/rewards">Rewards</a>
        <a href="/Avidex/sightings">Sightings</a>
        <a href="/Avidex/birders-rewards">BirdersRewards</a>
        <a href="/Avidex/birds-list">BirdsList</a>
        <a href="/Avidex/birds-nests">BirdsNests</a>
        <form action = "/Avidex/reset" method = "post" style = "display: :inline;">
            <input type="hidden" name="url" value="{{ request.path }}">
            <button type = "submit">Reset</button>
        </form>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>