{% extends "main.j2" %}
{% block content %}


<h1>Nests</h1>

{#
#################################
########## Read Table ###########
#################################
#}
<table>
    <thead>
        {# The DB attribute names will be printed for the header row #}
        <tr>
            {% if nests|length > 0 %}
                {% for key in nests[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
            {% else %}
                <th>nestID</th>
                <th>type</th>
                <th>location</th>
            {% endif %}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {# printing birdID, commonName, species, nestID, and description for each row #}
        {% for nest in nests %}
        <tr>
            <td>{{ nest.nestID }}</td>
            <td>{{ nest.type }}</td>
            <td>{{ nest.location }}</td>

            {#
            ##################################
            ########## Delete Form ###########
            ##################################
            #}
            <form id = "delete_nest_form" action="/Avidex/nests/delete" method="post"> 
                <input type = "hidden" name = "delete_nest_id" value = "{{ nest.nestID }}">
                <td>
                    <button type = "submit">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>




{#
##################################
########## Create Form ###########
##################################
#}
<h2> Add a Nest </h2>
<form class = "cuForm" id = "create_nest_form" action="/Avidex/nests/create" method="post">
    <label for="create_nest_type">Nest Type: </label>
    <input type="text" name = "create_nest_type" id="create_nest_type" required>

    <label for = "create_nest_location">Nest Location: </label>
    <input type = "text" name = "create_nest_location" id = "create_nest_location" required>

    <input type = "submit">
</form>




{# 
##################################
########## Update Form ###########
##################################
#}
<h2>Update a Nest</h2>
<form class = "cuForm" id = "update_nest_form" action = "/Avidex/nests/update" method="post">
    <label for = "update_nest">Nest to Update: </label>
        <select name = "update_nest" id="update_nest" required>
        <option value = "" disabled selected>Select a Nest</option>
        {% for nest in nests %}
        <option value = "{{ nest['nestID'] }}" required>
            {{ nest['nestID'] }}
            •
            {{ nest['type'] }}
            /
            {{ nest['location'] }}
        </option>
        {% endfor %}
    </select>

    <label for = "update_nest_type">Nest Type: </label>
    <input type = "text" name = "update_nest_type" id = "update_nest_type" required>

    <label for = "update_nest_location">Nest Location: </label>
    <input type = "text" name = "update_nest_location" id = "update_nest_location" required>

    <input type = "submit">
</form>
{% endblock %}