.top-bar {
  background-color: black;

  display: flex;
  justify-content: left;
}

.nav-bar {
  margin-left: auto;
  margin-top: auto;
  margin-right: 0px;
  width: 904px;
  display: flex;
  justify-content: right;
}

.nav-bar-item {
  text-align: right;
  font-size: 35px;

  margin-top: 0;
  margin-bottom: .2cm;
  margin-right: .8cm;
  color: #FFFFFF;
}

.title {
  text-align: left;
  font-size: 96px;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1cm;
  color:#FFFFFF;
}

.opening-title-div {
  margin-top: 1in;
  margin-left: 1cm;
  margin-right: 50%;
}

.opening-title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 10px;
}

hr {
  border-top-width: 5px;
  border-color: black;
}

.opening-intro {
  font-size: 24px;
}

.search-bar-div {
  margin-top: 1in;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar-title {
  font-size: 48px;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 10px;
}

.search-bar-hb {
  width: 85%;
}

.search-bar {
  font-size: 30px;
  
  margin-left: 30%;
  margin-right:30%;
  width: auto;
}

.card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 7.5%;
  margin-left: 7.5%;
}

.board-row {
  justify-self: center;
  display: flex;
  justify-content: center;
}

.bird-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0.5in;

  padding:10px;

  border-radius: 5%;
  border-color: #000000;
  border-style: solid;
}

.bird-name{
  border-style: solid;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5%;
  padding: 10px;
}

.bird-image {
  width: 200px;
  border-radius: 10%;
}

.bird-hr{
  width: 85%;
  border-width: 2px;
  border-style: dashed;
  margin-top: 15px;
  margin-bottom: 0px;
}

.bird-description{
  margin: 0;
  margin-top: 15px;

  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
}